body {
  background-image: url(../img/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #0c75a0;
    }

.wrapper {
  margin: 0 auto;
  width: 1000px;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
     }

.header {
  background-color: white;
  padding-top: 10px;
  text-align: center;
  position: relative;
        }
 .head {
  background-image: url('../img/logo.png');
  height: 175px;
  background-repeat: no-repeat;
  }

  .header p.logo {
    position: absolute;
    top: 110px;
    left: 100px;
    color: #41a1b9;
    z-index: 1;
  }

  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

.contacts {
  float: right;
  color: #41a1b9;
  margin-right: 20px;

}

.header ul {
  float: right;
  clear: right;
  padding: 25px;
}

.header li {
  float: left;
  font-size: 10px;
  /*width: 50px;*/
}

.header img {
  display: block;
  padding: 5px;
}

.header a {
  color: #41a1b9;
  display: block;
  }

.main img {
display: block;
}

ul.main {
    list-style: none;
    width: 1000px;
        }

 .menu .clearfix {
   border-bottom: 1px solid black;
   }

ul:after {
    display: block;
    content: '';
    clear: both;
    float: none;
    }

 ul.menu li {
    background-color: #303030;
    display: block;
    float: left;
    width: 14.28%;
    position: relative;
    }

ul.menu li a {
    background-color: #303030;
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

ul.menu li a:hover {
    background-color: #303030;
}

  ul.submenu {
    display: none;
    position: absolute;
    width: 130px;
    top: 100%;
    background-color: #303030;
    }

  ul.submenu li {
    width: 100%;
  }

ul.submenu li a {
    color: white;
    background-color: #303030;
    text-decoration: none;
}

ul.submenu li a:hover {
    text-decoration: underline;
}

ul.menu li:hover ul.submenu {
    display: block;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    }

    ul.menu {
      position: relative;
      -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    }

.container {
  background-color: white;
  display: flex;
  }

.info {
  background-color: #edeef0;
  flex-grow: 1;
  }

.content {
  flex-basis: 60%;
  flex-grow: 2;
   }

.news {
    border-left: 1px solid #c7cacf;
  background-color: #edeef0;
  flex-grow: 1;

 }

.footer {
  color: white;
  font-size: 12px;
  padding-top: 20px;
  text-align: center;
}
