body {
  background-image: url(../img/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #0c75a0;
    }

.wrapper {
  margin: 0 auto;
  position: relative;
  width: 1000px;
     }

.header {
  background-color: white;
  height: 175px;
  padding-top: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
      }

  .header p.logo {
    position: absolute;
    top: 110px;
    left: 100px;
    color: #41a1b9;
    z-index: 1;
  }

  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

.image {
  float: left;
  height: 175px;
  position: absolute;
  top: 20px;
  left: 20px;
  }

.contacts {
  float: right;
  color: #41a1b9;
  margin-right: 20px;

}

.header ul {
  float: right;
  clear: right;
  padding: 25px;
}

.header li {
  float: left;
  font-size: 10px;
  width: 50px;
}

.header a {
  color: #41a1b9;
  display: block;
  }

  .main {
    background-color: #303030;
    display: table;
    position: relative;
    margin: 0 auto;
    width: 100%;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
      }

ul.main {
    border-bottom: 1px solid black;
    display: block;
    float: left;
    list-style: none;
    width: 1000px;
    }

 .menu {
   display: block;
   border-bottom: 1px solid black;
   -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
   z-index: 100;
   }

ul:after {
    display: block;
    content: '';
    clear: both;
    float: none;
    }

 ul.menu li {
    display: inline-block;
    position: relative;
    width: 13.8%;
    }

ul.menu li a {
    background-color: #303030;
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

ul.menu li a:hover {
    background-color: #303030;
}

ul.submenu {
    display: none;
    position: absolute;
    width: 130px;
    top: 100%;
    background-color: #303030;
    }

  ul.submenu li {
    width: 100%;
  }

ul.submenu li a {
    color: white;
    background-color: #303030;
    text-decoration: none;
}

ul.submenu li a:hover {
    text-decoration: underline;
}

ul.menu li:hover ul.submenu {
    display: block;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
      }

/*.container3 {
  float: left;
  width: 100%;
  background-color: #edeef0;
  overflow: hidden;
  position: relative;
  }

.container2 {
  background-color: white;
  float: left;
  width: 100%;
  position: relative;
  right: 20%;
}*/

.container {
  background-color: white;
   -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
   box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75);
   overflow: hidden;
  /*position: relative;
  width: 100%;
  border-left: 200px solid #edeef0;
  border-right: 200px solid #edeef0;
  right: 60%;*/
}

.info {
  display: flex;
  float: left;
  padding-bottom: 2000px;
  margin-bottom: -2000px;
  width: 20%;
  flex-direction: column;
  background-color: #edeef0;
  /*left: 81%;
  margin-left: -200px;
  padding: 10px;
  position: relative;*/
}

.row1 {
  border: 1px solid #c7cacf;
  border-bottom: 0;
  }

.row2 {
  border: 1px solid #c7cacf;
  flex-grow: 2;
}

.row3 {
  border: 1px solid #c7cacf;
  border-top: 0;
  flex-grow: 1;
}

.content {
  float: left;
  padding-bottom: 2000px;
  margin-bottom: -2000px;
  width: 60%;
  /*left: 83%;
  background-color: white;
  position: relative;
  z-index: 1500;*/
}

.news {
  width: 19%;
  float: right;
  border-left: 1px solid #c7cacf;
  padding-bottom: 2000px;
  background-color: #edeef0;
  margin-bottom: -2000px;
  /*margin-right: -200px;
  padding: 10px;
  position: relative;
  left: 79%;
  z-index: 1000;*/
}

.footer {

  color: white;
  font-size: 12px;
  padding-top: 20px;
  text-align: center;
}
